*{
    padding: 0;
    margin:0;
}
.container{
   position: absolute;
   top: 30%;
   left:30%;
    background-color:lightseagreen;
    padding:30px;
    border-radius: 6px;
}
.box{
    padding: 10px 0 10px 0;
    width:223px;
    height: 60px;
    outline: none;
    font-size: 20px;
    border:none;
    color: #fff;
    background:rgba(8, 8, 158, 0.603);
    text-align: end;
}

input[type=button]{
    padding:5px;
    margin:15px 0 0 10px;
    width:40px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 6px;
    background-color: #fff;
}
#c{
    background-color: dodgerblue;
    color:#fff;
}
#button{
    width:200px;
    background-color: tomato;
    color: #fff;
    font-size: 30px;
}